apiVersion: apps/v1
kind: Deployment
metadata:
  name: igokochi-backend
  labels:
    app: igokochi-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: igokochi-backend
  template:
    metadata:
      labels:
        app: igokochi-backend
    spec:
      containers:
        - name: igokochi-backend
          image: ricoharsono/igokochi-backend:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 4000
          env:
            - name: PORT
              value: "4000"

            # MySQL connection
            - name: DB_HOST
              value: "mysql-igokochi-service" # <-- change to your mysql Service name if needed
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_DATABASE
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD

          readinessProbe:
            httpGet:
              path: /health
              port: 4000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /health
              port: 4000
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 3
            failureThreshold: 6
---
apiVersion: v1
kind: Service
metadata:
  name: igokochi-backend
  labels:
    app: igokochi-backend
spec:
  type: ClusterIP
  selector:
    app: igokochi-backend
  ports:
    - name: http
      port: 4000
      targetPort: 4000
