apiVersion: apps/v1
kind: Deployment
metadata:
  name: igokochi-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: igokochi-frontend
  template:
    metadata:
      labels:
        app: igokochi-frontend
    spec:
      containers:
        - name: frontend
          image: YOUR_DOCKERHUB/igokochi-frontend:latest
          ports:
            - containerPort: 80
          env:
            - name: API_BASE_URL
              value: "https://api.yourdomain.com" # later change
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: igokochi-frontend-lb
spec:
  type: LoadBalancer
  selector:
    app: igokochi-frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
